*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(255, 255, 255);
    height: 86px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    color: #8CB7F5;
    height: 46px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo>i{
    margin: 15px;
    font-size: 26px;
    color:#8CB7F5;
}
.search-bar{
    width: 40%;
    height: 40px;
    background-color: #8CB7F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.search-bar>input{
    height: 90%;
    width: 65%;
    border-radius: 5px 0 0 5px;
    border: 2px solid #0556c7;
    padding-left: 10px;
}
.search-bar>select{
    height: 100%;
    width: 20%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-top: 2px solid #0556c7;
    border-bottom: 2px solid #0556c7;
    border-right: 2px solid #0556c7;
    padding-left: 3px;
    cursor: pointer; 
}
.search-bar>button{
    height: 100%;
    width: 15%;
    background-color: #0D6EFD;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.menu-icons{
color:#979797;
display: flex;
align-items: center;
justify-content: center;
}
.menu-icons>div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 10px;
}
.menu-icons>div>a{
    text-decoration: none;
    color: #979797;
}
.menu-icons>div>i{
    font-size: 18px;
    margin-bottom: 5px;
}
nav{
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    width: 66%;
    display: flex;

}
.links_icons{
    display: flex;
    align-items: center;
    justify-content: center;
     margin-left: 60px;
}
.links_icons>li{
    list-style: none;
    margin-left: 20px;
}
.links_icons>li>a{
    text-decoration: none;
    color: black;
}
#bars-icon>i{
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    margin-right: 6px;
}
#down-icon>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#down-icon>div>i{
    font-size: 16px;
    color: #7d7a7a;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 4px;
}
#down-icon>div>a{
    text-decoration: none;
   color:black;
   
}
.country-links{
    width: 34%;
    display: flex;
    align-items: center;
    margin-left: 230px; 
}
.country-links>select{
    margin-left: 50px;
    height: 30px;
}
main{
    background-color:  #ebeef3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.hero-section{
    height: 400px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgba(156, 138, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 22px;
}
#listing{
    color: #7d7a7a;
    height: 90%;
    width: 200px;
}
#listing>ul{

    margin-top: 18px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
#listing>ul>li>a{
   text-decoration: none;
   color: #7d7a7a;
}

#hero-img{
    height: 90%;
    width: 720px;
    background-image: url(heroimg.png);
    background-size: cover;

}

#side-cards{
    height: 90%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
#user-card{
    height: 160px;
    width: 100%;
    background-color: #E3F0FF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#user-card>div>i{
    font-size: 32px;
    color: #8ea3a8;

}
#user-card>div>p{
    font-weight: bolder;

}
#user-card>div{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 6px;

}
#user-card>div>button{
   width: 80%;
   height: 50px;
   border-radius: 6px;
   font-weight: bold;
}
#user-card>div>#user-card-btn-one{
    color: #ffffff;
    background-color: #0556c7;
    cursor: pointer;

}
#user-card>div>#user-card-btn-two{
    color: #0556c7;
    background-color: #ffffff;
    cursor: pointer;
}
#orange-card{
    height: 90px;
    width: 100%;
    background-image: url(orange-card.png);
    background-size: cover;
    border-radius: 6px;

}
#blue-card{
    height: 90px;
    width: 100%;
    background-image: url(blue-card.png);
    background-size: cover;
    border-radius: 6px;
}
.deals-offers{
    width: 90%;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid rgba(156, 138, 138, 0.21);
}
#deal-one{
    height: 240px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;

}
.deal-one-style{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    border: 1px solid  rgba(156, 138, 138, 0.21);
}
#deal-one>img{
    width: 100%;
    height: 90%;
}
.banner-percent{
    height: 20px;
    width: 46px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;

}
.deal-two{
    height: 260px;
    display: flex;
    align-items: center;

}
.deal-offers-one{
    width: 280px;
    height: 100%;
    border: 1px solid  rgba(156, 138, 138, 0.21);
   
}
#deal-offers-one-imgone{
    background-image: url(home-outdoor.png);
    background-size: cover;
}

#deal-offers-one-imgtwo{
    background-image: url(gadgets-electronics.png);
    background-size: cover;
}

.deal-offers-two{
    width: 90%;
    height: 100%;
    border: 1px solid  rgba(156, 138, 138, 0.21);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.small-sections{
    height: 50%;
    width: 251px;
    border: 1px solid  rgba(156, 138, 138, 0.21);
    display: flex;

}
.small-sections>div{
    height: 90%;
    width: 50%;
}
.small-sections>div>p{
    display: flex;
    justify-content: center;
    padding-top: 8px;
    margin-top: 8px;
}
.grey-text-p{
    color: #979797;
    font-size: 14px;
}
.small-sections>div>img{
    height: 100%;
    width: 100%;
} 
#form-section{
    height: 420px;
    width: 90%;
    background-color: #ffffff;
    background-image: url("form-bg-pic.png");
    background-size: cover;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form-text{
    width: 50%;
    height: 100%;
    color: #ffffff;
}
#form-text>#form-id{
    font-size: 26px;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 40px;
}

#form-text>#form-p{
    padding-left: 8px;
    padding-top: 20px;
    text-align: justify;
    line-height: 1.5;
    word-spacing: 3px;
    width: 80%;

}
#form-details{
    width: 40%;
    height: 86%;
    background-color: #ffffff;
    border-radius: 12px;
    
}
#form-details>form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}
#form-details>form>h3{
    margin-left: 40px;
    padding-top: 20px;
}
#form-input{
   width: 80%;
}
#form-details>form>input{
    margin-left: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #979797;
    padding-left: 10px;
}
#form-details>form>textarea{
    margin-left: 40px;
    width: 80%;
    height: 100px;
    border-radius: 6px;
    border: 1px solid #979797;
    padding-top: 10px;
    padding-left: 10px;

}
#form-quanty-input{
    margin-left: 40px;
    width: 40%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #979797;
    padding-left: 10px;
}
#form-quanty-pcs{
    margin-left:0px;
    width: 20%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #979797;
    padding-left: 10px;
}
#form-details>form>button{
    margin-left: 40px;
    width: 24%;
    height: 40px;
    border-radius: 6px;
    background-color: #0556c7;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

}
#subscribe-section{
    height: 190px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#subscribe-section-input{
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}
#subscribe-section-input>input{
    width: 300px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #979797;
    padding-left: 10px;
}
#subscribe-section-input>button{
    width: 36%;
    height: 35px;
    border-radius: 6px;
    background-color: #0556c7;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.first-footer{
    background-color: #ffffff;
    color: #7d7a7a;
    width: 90%;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo{
    height: 90%;
    width: 15%;
    margin-left: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-logo>.foot-icons{
    font-size: 24px;
    margin-top: 26px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo>.brand-line{
    margin-top: 14px;
    text-align: justify;
}

.footLinks{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.foot-link{
    
    width: 25%;
    height: 100%;
    text-align: center;
}
.foot-link-Get{
    color: #000000;
    font-weight: bold;
    margin-top: 66px;
}
.foot-getApp{
    width: 20%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}
.foot-getApp-img>img{
    height: 66%;
    width: 80%;
    margin-left: 18px;
}
.last-footer{
    background-color: #DEE2E7;
    color: #7d7a7a;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#first-item{
    margin-left: 88px;
}
#up-icon{
     color: #7d7a7a;
    display: flex;
    align-items: center;
    justify-content: center;
}
#last-item{
    margin-right: 88px;

}
#last-item>li{
    list-style: none;

}
#up-icon>a{
    text-decoration: none;
    color: #7d7a7a;
    margin-left: 10px;
}
#up-icon>i{
  
    margin-left: 10px;
}
.foot-link>ul>li{
    list-style: none;
    margin-bottom: 10px;
}
.foot-link>ul>li>a{
    text-decoration: none;
    color: #7d7a7a;
}
.foot-link>ul>li>.first-link{
    font-weight: bold;
    color: black;
}
